@using MvcOnlineTicariOtomasyon.Models.Sınıflar
@model List<Faturalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<table class="table table-bordered" style="margin-top:20px;margin-left:20px;margin-right:20px ">
    <tr>

        <th>Seri Sıra No</th>
       
        <th>Tarih</th>
        <th>Saat</th>

        <th>Toplam</th>
        <th>Güncelle</th>
      
        <th>Yeni Kalem</th>





    </tr>

    @foreach (var k in Model)
    {

<tr>

    <td>@k.FaruraSeriNo k.FaturaSıraNo</td>
>
    <td>@k.Tarih</td>
    <td>@k.Saat</td>


    <td>@k.Toplam ₺</td>




    <td><a href="/Fatura/FaturaGetir/@k.FaturaID" class="btn btn-warning">Güncelle</a></td>
    <td><a href="/Fatura/FaturaDetay/@k.FaturaID" class="btn btn-default" style="background-color:lightcoral;color:white"> Detay</a></td>
   
    <td><a href="/Fatura/FaturaDetay/@k.FaturaID" class="btn btn-default" style="background-color:darkseagreen;color:white"> Kalem</a></td>

</tr>
    }

</table>
<a href="/Fatura/FaturaEkle" class="btn btn-info">Yeni Fatura</a>
<br /> <br />
<button type="button" class="btn btn-warning" style="background-color:royalblue" data-toggle="modal" data-target="#modal1">Popup Penceresi</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content"
             >
            <div class="modal-header">
                <h2 class="modal-title">Popup Diyalog Ekranı</h2>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td>Seri No</td>
                        <td>Sıra No</td>
                        <td>Tutar No</td>

                    </tr>
                    @foreach (var x in Model)
                    {
                        <td>@x.FaruraSeriNo</td>
                        <td>@x.FaturaSıraNo</td>
                        <td>@x.Toplam</td>


                    }
                </table>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Tamam</button>
            </div>
        </div>

    </div>
</div>